USE [master]
GO
/****** Object:  Database [BaseTest]    Script Date: 19.07.2021 11:16:50 ******/
CREATE DATABASE [BaseTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseTest]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 19.07.2021 11:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[age] [int] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Table1] ([id], [name], [age]) VALUES (1, N'Ivan', 19)
INSERT [dbo].[Table1] ([id], [name], [age]) VALUES (2, N'Olga', 25)
INSERT [dbo].[Table1] ([id], [name], [age]) VALUES (3, N'Elena', 15)
GO
USE [master]
GO
